*,
*:before,
*:after {
  box-sizing: border-box;
}

.super-icon {
  width: 21px;
  height: 20px;
  background-size: 144px 101px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  scale: 0.9;
}

.super-icon.official {
  width: 20px;
  background-image: url(https://openchat-review.me/assets/line_svg_sprite.svg);
  background-position: -62px -76px;
}

.super-icon.sp {
  background-image: url(https://openchat-review.me/assets/line_svg_sprite.svg);
  background-position: -33px -76px;
}

.lock-icon {
  width: 13px;
  height: 13px;
  margin-top: 2px;
  margin-right: 2px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-image: url(/../assets/lock.svg);
}

.show-north {
  color: #07b53b;
}

.stats-wrapper.positive {
  color: #4d73ff;
}

.stats-wrapper.negative {
  color: #ff5d6d;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.MuiTabs-scroller.MuiTabs-scrollableY {
  overscroll-behavior: none;
}

.MuiTabs-root.category-tab {
  border-color: #efefef;
}

.category-tab .MuiTab-root.MuiTab-textColorPrimary {
  font-weight: 700;
  color: #b7b7b7;
}

.category-tab-pc .MuiTab-root.MuiTab-textColorPrimary {
  color: rgba(0, 0, 0, 0.47);
}

.category-tab .MuiButtonBase-root.Mui-selected {
  font-weight: 700;
  color: #111;
}

.category-tab-pc .MuiButtonBase-root.Mui-selected {
  color: #111;
}

.category-tab .MuiTabs-indicator {
  background-color: #111;
}

.category-tab-pc .MuiTabs-indicator {
  background-color: #111;
  width: 3px;
}

.hide-scrollbar-x {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar-x::-webkit-scrollbar {
  display: none;
}

.MuiChip-root.openchat-item-header-chip {
  background-color: #f5f5f5;
  color: #111;
  user-select: none;
  font-weight: 500;
  font-size: 14px;
  border-radius: 99px;
  height: 36px;
}

.MuiChip-root.openchat-item-header-chip.category {
  font-weight: normal;
  border-radius: 8px;
  height: 32px;
}

.MuiChip-root.openchat-item-header-chip.category:hover {
  background-color: #f5f5f5;
}

.MuiChip-root.openchat-item-header-chip.selected {
  background-color: #1f1f1f;
  color: #fff;
}

.MuiChip-root.openchat-item-header-chip.selected:hover {
  background-color: #1f1f1f;
  color: #fff;
}

.MuiChip-root.openchat-item-header-chip .MuiChip-deleteIcon {
  color: rgba(255, 255, 255, 1);
}

.fix-min-width .MuiTabs-scroller a {
  min-width: 0;
}

@media screen and (width >= 600px) {
  .MuiChip-root.openchat-item-header-chip.category:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .MuiChip-root.openchat-item-header-chip.selected:hover {
    background-color: #1f1f1f;
  }
}

@media screen and (min-width: 512px) {
  .super-icon {
    scale: 1.2;
    margin-top: 5px;
    margin-right: 6px;
  }
}
