html {
  overflow-y: scroll; /* 常に垂直スクロールバーを表示 */
}

.css-1rn22tq {
  max-width: 812px !important;
}

.OpenChatListItem-outer {
  all: unset;
  display: block;
  position: relative;
}

.div-fetchOpenChatRankingList * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.record-count {
  font-size: 11px;
  color: #111;
}

.record-count.middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
}

.openchat-item-container {
  all: unset;
  display: block;
  line-height: 1.5;
  max-width: 812px;
}

.openchat-item {
  all: unset;
  display: block;
  max-width: 100%;
  min-width: 0;
  padding: 0;
  letter-spacing: -0.3px;
  position: relative;
  margin: 20px 0;
  margin-right: 1.5rem;
  padding-left: 65px;
  min-height: 58px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.overlay-link {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: block;
  margin: -0.5rem -2.5rem -0.5rem -1rem;
  z-index: 1;
}

.overlay-link:focus-visible {
  outline: 0;
}

.item-img-outer {
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0;
  margin: auto 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.item-img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}

.openchat-item h3 {
  all: unset;
  display: flex;
  min-width: 0px;
  max-width: min-content;
}

.item-title-link {
  all: unset;
  cursor: pointer;
  font-size: 15px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-title-link:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.item-desc {
  all: unset;
  color: #777;
  font-size: 13px;
  line-height: 130%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  margin-top: 2px;
}

.item-lower {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 1px;
}

.item-lower-stats {
  display: flex;
  color: #aaa;
  font-size: 13px;
  line-height: 1.1rem;
  gap: 12px;
}

.api-created-at {
  color: #4d73ff;
}

.item-lower-category {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  height: 0%;
}

.item-lower-category .MuiChip-sizeSmall {
  background-color: #f5f5f5;
  color: RGB(124, 124, 124);
  font-size: 12px;
  border-radius: 4px;
}

.item-lower-stats > span:nth-child(2) > span:nth-child(1) {
  position: relative;
}

.item-lower-stats > span:nth-child(2) > span:nth-child(1):before {
  content: "";
  position: absolute;
  top: 7.5px;
  left: -7px;
  width: 2px;
  height: 2px;
  background-color: #aaa;
}

@media screen and (width >= 600px) {
  .openchat-item:hover .item-title-link {
    -webkit-text-decoration: underline 2px currentColor;
    text-decoration: underline 2px currentColor;
  }

  .openchat-item {
    margin-right: 0;
    cursor: pointer;
  }

  .item-title-link {
    z-index: 1;
    position: relative;
  }

  .item-lower {
    margin-top: 2px;
  }
}

@media screen and (max-width: 359px) {
  .openchat-item {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .OpenChatListItem-outer {
    zoom: 110%;
  }
}
