.site_header_box {
  position: fixed;
  z-index: 1160;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: '0 4px 2px -2px rgba(0,0,0,.2)';
}

.site_header_outer {
  all: unset;
  display: block;
  --search: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 27' class='search-icon'%3E%3Cpath d='M11.56,3.43a8.26,8.26,0,0,0,0,16.52,8.18,8.18,0,0,0,5-1.72l4.7,4.7a1.1,1.1,0,0,0,1.56,0,1.09,1.09,0,0,0,0-1.55l0,0-4.7-4.7a8.18,8.18,0,0,0,1.72-5A8.28,8.28,0,0,0,11.56,3.43Zm0,2.2A6.06,6.06,0,1,1,5.5,11.69,6,6,0,0,1,11.56,5.63Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
  --width: 802px;
  --hover: #f1f9f6;
  --border-radius: 5px;
}

.site_header {
  display: flex;
  max-width: var(--width);
  height: 48px;
}

/* トップページタイトル */
.header_site_title {
  margin: auto -0.5rem;
  cursor: pointer;
  display: flex;
  height: 48px;
  gap: 4px;
  padding: 0 0.5rem;
  align-items: center;
}

.header_site_title:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.header_site_title img {
  margin: auto;
  width: 18px;
  height: 18px;
  user-select: none;
  -webkit-user-select: none;
}

.header_site_title h1,
.header_site_title p {
  all: unset;
  margin: auto 0;
  white-space: nowrap;
  font-weight: bold;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #111;
  line-height: 1.75;
  letter-spacing: normal;
}

.header-nav {
  all: unset;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: -8px;

  position: absolute;
  right: 1rem;
}

/* 検索フォーム */
.header-button {
  all: unset;
  display: flex;
  height: 48px;
  width: 48px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.header-button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  z-index: 10;
}

.search-button-icon {
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: var(--search);
}

.search-form {
  display: flex;
}

.search-form-inner {
  all: unset;
  z-index: 2002;
  display: block;
  margin: auto;
  height: fit-content;
  position: relative;
  width: 100%;
}

.search-form-inner label {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: var(--search);
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 2001;
}

.refresh-time {
  margin-left: 9px;
  display: flex;
  white-space: nowrap;
}

.refresh-icon {
  height: 11px;
  aspect-ratio: 1/1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23b7b7b7' d='M256 0C179.9 0 111.7 33.4 64.9 86.2L0 21.3V192h170.7l-60.2-60.2C145.6 90.5 197.5 64 256 64c106 0 192 85.9 192 192s-86 192-192 192c-53 0-101-21.5-135.8-56.2L75 437c46.4 46.3 110.4 75 181 75 141.4 0 256-114.6 256-256S397.4 0 256 0zm-21.3 106.7v170.7h128v-42.7h-85.3v-128h-42.7z' /%3E%3C/svg%3E");
  margin: auto 0;
}

.refresh-time time {
  margin: auto 0;
  margin-left: 2px;
  color: #b7b7b7;
  font-size: 12px;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  display: inline-block;
}

.MuiInputBase-colorPrimary.search-input:after {
  border-bottom: 2px solid #4d73ff;
}

@media screen and (min-width: 512px) {
  .super-icon {
    scale: 1;
    margin-top: 0px;
  }

  .header-button {
    border-radius: 99rem;
  }
}

.google_ads_responsive_1 {
  width: 320px;
  height: 100px;
  margin: auto;
  background: rgb(250, 250, 250);
}

@media (max-width: 352px) {
  .google_ads_responsive_1 {
    margin: auto -0.5rem;
  }
}

@media (min-width: 500px) {
  .google_ads_responsive_1 {
    width: 468px;
    height: 60px;
  }
}

@media (min-width: 800px) {
  .google_ads_responsive_1 {
    width: 100%;
    height: 90px;
  }
}
