*.Identifier
.DS_Store
Thumbs.db
/.vscode/sftp.json

/.git
/node_modules
/vendor

local-secrets.php
prod-secrets.php
/shared/secrets.php

/public/oc-img/*
/public/oc-img-*/*
!/public/oc-img/default
!/public/oc-img-*/default
!/public/oc-img/preview
!/public/oc-img-*/preview
/public/oc-img/preview/*
/public/oc-img-*/preview/*
!/public/oc-img/preview/default
!/public/oc-img-*/preview/default

public/sitemaps/**
public/sitemap.xml

storage/exception.log
storage/furigana/**
storage/*/logs/*
storage/*/SQLite/statistics/statistics.db
storage/*/SQLite/ranking_position/ranking_position.db
storage/*/ranking_position/*/*
storage/*/ranking_position/filter.dat
storage/*/static_data_top/*
!storage/*/static_data_top/template
storage/*/static_data_recommend/*/*
storage/*/open_chat_sub_categories/subcategories.json

!*.gitkeep
.htaccess

*.env
batch/sh/*.key
batch/sh/sqldump
setup.sh
local-setup.sh
prid-setup.sh
.user.ini
/password.openchat-review.me