.kokoku-element {
  all: unset;
  display: flex;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  word-break: break-all;
  --padding: 0 1rem;
  --paragraph-color: #aaa;
  /* aspect-ratio: 1; */
  color: #111;
  margin: auto;
}

.kokoku-header,
.kokoku-box {
  all: unset;
  display: block;
}

.kokoku-box {
  width: 100%;
}

.kokoku-header {
  position: relative;
}

.kokoku-anchor-box {
  all: unset;
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.kokoku-img-box {
  width: 100%;
  display: flex;
  /* aspect-ratio: 1.2; */
  background: rgb(250, 250, 250);
}

.kokoku-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  user-select: none;
}

.kokoku-tracking-img {
  width: 1px;
  height: 1px;
  border: 0;
  position: absolute;
}

.kokoku-title-box {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  margin: 6px 0;
}

.kokoku-title {
  all: unset;
  display: block;
  font-size: 15px;
  line-height: 135%;
  font-weight: 500;
}

.kokoku-title-button {
  display: block;
  width: fit-content;
  padding: 8px;
  margin-top: 2px;
  margin-left: 4px;
  border-radius: 7px;
  border: 1px solid #efefef;
  font-size: 11px;
  font-weight: bold;
  user-select: none;
  word-break: keep-all;
  text-wrap: nowrap;
  height: fit-content;
}

.kokoku-paragraph {
  all: unset;
  display: block;
  padding: var(--padding);
  font-size: 13px;
  line-height: 120%;
  color: var(--paragraph-color);
}

.kokoku-box-footer {
  all: unset;
  display: flex;
  padding: var(--padding);
  align-items: center;
  margin-top: 2px;
}

.kokoku-sponsor-name,
.kokoku-pr-icon {
  display: block;
  width: fit-content;
  font-size: 11px;
  color: #aaa;
  line-height: 1.3;
}

.kokoku-pr-icon {
  border: 1px solid #efefef;
  font-size: 10px;
  padding: 1px 2px;
  border-radius: 2px;
}

.kokoku-sponsor-name {
  margin-left: 4px;
}

.kokoku-info-button {
  all: unset;
  display: block;
  height: 15px;
  width: 15px;
  background: rgb(240, 240, 240);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.kokoku-info-button-info-svg {
  all: unset;
  display: block;
  height: 13px;
  width: 13px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 32 32' id='info'%3E%3Cg fill='%2306c755'%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm0 30C8.28 30 2 23.72 2 16S8.28 2 16 2s14 6.28 14 14-6.28 14-14 14zm0-18a2 2 0 0 0-2 2v10a2 2 0 0 0 4 0V14a2 2 0 0 0-2-2zm-2-3.968a2 2 1080 1 0 4 0 2 2 1080 1 0-4 0z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (min-width: 512px) {
  .kokoku-element {
    --padding: 0;
    --paragraph-color: #777;
    aspect-ratio: unset;
    margin: 1rem auto 0.5rem auto;
  }

  .kokoku-box {
    margin: 0 1rem;
    padding: 0 16.5%;
  }

  /*   .kokoku-img,
  .kokoku-img-box {
    border-radius: 7px;
  }
 */
  .kokoku-title-button:hover {
    background: rgb(250, 250, 250);
  }

  .kokoku-title:hover,
  .kokoku-header:has(.kokoku-img:hover) .kokoku-title {
    text-decoration: underline;
  }
}
