#app {
  min-height: 133px;
}

.limit-btns.category-tab .MuiTab-root.MuiTab-textColorPrimary {
  min-width: 0;
  padding: 0;
  min-height: 48px;
}

.chart-canvas-box {
  aspect-ratio: 1.8 / 1;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  margin-bottom: -16px;
}

.chart-canvas-box canvas {
  overflow: hidden;
}

#chart-preact-canvas {
  aspect-ratio: 1.8 / 1;
}

.MuiChip-root.openchat-item-header-chip.graph {
  font-size: 0.875rem;
}

.MuiToggleButton-root.MuiToggleButton-standard {
  color: #b7b7b7;
  border: 1px solid #efefef;
}

.MuiToggleButton-root.Mui-selected.MuiToggleButton-standard,
.MuiToggleButton-root.Mui-selected.MuiToggleButton-standard:hover {
  background-color: #f5f5f5;
  border: 1px solid #efefef;
}

.MuiStack-root .css-14edfjq {
  opacity: 0.5;
}

.MuiStack-root
  .css-14edfjq
  .MuiToggleButton-root.Mui-selected.MuiToggleButton-standard,
.MuiStack-root
  .css-14edfjq
  .MuiToggleButton-root.Mui-selected.MuiToggleButton-standard:hover {
  color: #b7b7b7;
  background-color: #fff;
}

.fade-in {
  opacity: 0; /* 要素を最初は非表示にする */
  animation-name: fade-in; /* 使用するアニメーションの名前を指定 */
  animation-duration: 0.3s; /* アニメーションの時間を指定 */
  animation-delay: 0.3s; /* 遅延の時間を指定 */
  animation-fill-mode: forwards; /* アニメーション終了時のスタイルを保持 */
}

@keyframes fade-in {
  to {
    opacity: 1;
  } /* アニメーションの最終状態 */
}

@media screen and (max-width: 511px) {
  .chart-canvas-box {
    aspect-ratio: 1.4 / 1;
  }

  #chart-preact-canvas {
    aspect-ratio: 1.4 / 1;
  }

  .MuiChip-root.openchat-item-header-chip.graph:hover {
    color: #111;
    background-color: #f5f5f5;
  }

  .MuiChip-root.openchat-item-header-chip.graph.selected:hover {
    color: #fff;
    background-color: #111;
  }
}

@media screen and (max-width: 359px) {
  .chart-canvas-box {
    margin: 0 -0.75rem;
    width: calc(100% + 1.5rem);
    aspect-ratio: 1.2 / 1;
  }

  #chart-preact-canvas {
    aspect-ratio: 1.2 / 1;
  }

  .limit-btns .MuiTab-fullWidth {
    font-size: 13px;
  }

  .MuiChip-root.openchat-item-header-chip.graph {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) {
  #chart-preact-canvas {
    width: calc(100% - 1px) !important;
  }
}
