.site_header_outer {
  position: absolute;
}

.openchat-header.description-close {
  height: unset;
  padding-bottom: 1rem;
}

.openchat-header h1 {
  color: #118bee;
}

.talkroom_banner_img {
  position: static;
  transform: unset;
  margin: -2rem auto;
  max-width: 286px;
}

.talkroom_banner_img_area {
  min-height: unset;
}

section aside {
  padding: 0;
  margin: 1rem auto;
  width: unset;
  max-width: var(--width-card);
}

.labs-link {
  padding: 1.25rem;
  cursor: pointer;
  display: block;
}

section aside img {
  display: block;
}

@media screen and (min-width: 512px) {
  .talkroom_banner_img {
    max-width: 366px;
  }

  .openchat-header.description-close {
    height: unset;
  }
}