li {
  all: unset;
}

.recommend-header-wrapper {
  all: unset;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 512px) {
  .recommend-header-wrapper {
  }
}

.recommend-header {
  padding: 1rem;
  padding-top: 20px;
  text-align: start;
}

.recommend-header-time {
  font-size: 13px;
  color: #777;
}

.ranking-page-main {
  display: block;
  font-family: var(--font-family);
  max-width: 812px;
}

.ranking-page-main .talkroom_banner_img_figure {
  padding: 0;
  width: 100%;
  margin-bottom: 6px;
}

.ranking-page-main .talkroom_banner_img_figure figcaption {
  font-size: 9px;
  color: #b7b7b7;
  display: block;
  /*   text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  margin: 0 1rem;
  line-height: 120%;
  margin-bottom: 1px;
}

.ranking-page-main .talkroom_banner_img_area {
  width: calc(100% - 2rem);
  margin: auto;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
  gap: 4px;
}

.ranking-page-main .talkroom_banner_img_area_inner {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.ranking-page-main .talkroom_banner_img_area_inner:nth-child(1) {
  grid-area: img1;
}

.ranking-page-main .talkroom_banner_img_area_inner:nth-child(2) {
  grid-area: img2;
}

.ranking-page-main .talkroom_banner_img_area_inner:nth-child(3) {
  grid-area: img3;
}

.ranking-page-main .talkroom_banner_img_area_inner:nth-child(4) {
  grid-area: img4;
}

.ranking-page-main .talkroom_banner_img_area_inner:nth-child(5) {
  grid-area: img5;
}

.ranking-page-main .talkroom_banner_img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.ranking-page-main .talkroom_link_h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.25;
  color: #111;
  display: block;
  white-space: break-spaces;
  margin-bottom: 4px;
  font-family: "meiryo UI", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.recommend-header-bottom {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.recommend-data-desc {
  font-size: 13px;
  color: #06c755;
}

.recommend-header-desc {
  display: block;
  padding: 0 1rem;
  font-size: 14px;
  color: #555;
  line-height: 1.3;
  margin-bottom: 8px;
}

.recommend-header-desc.desc-bottom {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin: 0;
}

.recommend-header-desc.desc-bottom .desc-aside {
  font-size: 12px;
  color: #777;
}

.top-ranking-list-aside {
  all: unset;
  display: block;
}

.tag-list-section {
  all: unset;
  display: block;
}

.openchat-item-list.parent {
  counter-reset: openchat-counter2 0;
}

.openchat-item-list.parent .top-ranking:not(.not-rank) .openchat-item::before {
  content: counter(openchat-counter2);
  counter-increment: openchat-counter2 1;
}

.openchat-item-list.parent
  .top-ranking:not(.not-rank)
  .openchat-item.hundred::before {
  left: -2rem;
}

.openchat-item-list.parent .top-ranking .openchat-item.goldmedal::before {
  content: "🥇";
  font-style: normal;
  font-size: 24px;
  left: -31px;
  top: 23px;
  line-height: 1;
}

.openchat-item-list.parent .top-ranking .openchat-item.silvermedal::before {
  content: "🥈";
  font-style: normal;
  font-size: 22px;
  left: -30px;
  top: 23px;
  line-height: 1;
}

.openchat-item-list.parent .top-ranking .openchat-item.blonzemedal::before {
  content: "🥉";
  font-style: normal;
  font-size: 20px;
  left: -29px;
  top: 23px;
}

.openchat-item-list.parent
  .top-ranking:not(.not-rank)
  .openchat-item.goldmedal {
  margin-bottom: 1.5rem;
}

.openchat-item-list.parent .ranking-page-main .openchat-item-lower-outer {
  flex-direction: row;
  gap: 8px;
  margin-top: 1px;
  align-items: center;
}

.openchat-item-list.parent .ranking-page-main .openchat-item-mui-chip-outer {
  margin-top: 0;
}

.recommend-ranking-section-header {
  all: unset;
  display: block;
}

.recommend-ranking-section-header .list-aside {
  margin: 0;
  margin-top: 4px;
}

.recommend-ranking-bottom.list-aside {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.app_link.open-chat-guide {
  display: block;
  margin: auto;
  width: fit-content;
}

.app_link.open-chat-guide a {
  padding: 0.5rem 0;
  display: block;
  font-size: 12px;
}

.recommend-ranking-bottom.list-aside .readMore-btn {
  margin: 2rem 0 1rem 0;
}

.list-aside.recommend-ranking-bottom .tag-list {
  margin: 6px 0 1rem 0;
}

.list-aside {
  all: unset;
  display: block;
}

.list-aside .tag-list {
  all: unset;
  list-style: none;
  display: block;
}

.list-aside .tag-list li {
  all: unset;
  display: inline-block;
  margin: 7px 0 0 2px;
  max-width: calc(100% - 5px);
  vertical-align: top;
}

.list-aside .tag-btn {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 36px;
  box-sizing: border-box;
  color: #111;
  display: inline-flex;
  font-size: 13px;
  height: 36px;
  letter-spacing: -0.3px;
  line-height: 15px;
  padding: 0 12px;
}

.list-aside.ranking-desc {
  margin: 0px 0 11px 0;
}

.recommend-ranking-section {
  all: unset;
  display: block;
}

.ranking-page-main .share-nav {
  margin-bottom: 20px;
}

.recommend-desc {
  color: #555;
  font-size: 14px;
  line-height: 1.9;
}

.recommend-desc2 {
  color: #555;
  font-size: 14px;
  line-height: 1.9;
}

.ranking-desc .recommend-desc {
  margin-top: 6px;
  padding-left: 0.5rem;
}

.small {
  font-size: 85%;
}

section aside:hover {
  box-shadow: unset;
}

.list-aside {
  all: unset;
  display: block;
  margin: 2rem 0;
}

.list-title {
  color: #111;
  font-size: 15px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
}

.list-title.oc-list {
  margin-bottom: 4px;
}

.list-aside details {
  margin: 0;
  font-size: 13px;
  color: #777;
  font-weight: normal;
}

.list-aside summary {
  width: fit-content;
}

.list-aside-details {
  padding-left: 0.5rem;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-aside-desc {
  font-size: 13px;
  color: #555;
  display: block;
}

.openchat-item-list .css-162gv95 {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  color: rgb(7, 181, 59);
  font-size: 11px;
  margin: -1px -4px;
}

.list-aside {
  all: unset;
  display: block;
}

.list-aside .tag-btn.close-btn {
  border-radius: 99rem;
  display: block;
}

.list-aside .tag-btn.close-btn::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  transform: rotate(135deg);
  margin-bottom: 3px;
}

.diff-member {
  all: unset;
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #888;
}

.diff-member div {
  padding: 2px 4px;
  border: 1px solid #efefef;
  border-radius: 4px;
}

.app_link a {
  font-size: 13px;
  color: #777;
}

.recommend-header-desc-text {
  color: #111;
  font-size: 18px;
  white-space: unset;
  font-weight: bold;
  font-family: "Yu Gothic", -apple-system, system-ui, blinkmacsystemfont,
    Helvetica Neue, helvetica, Hiragino Sans, arial, sans-serif;
  line-height: 1.3;
  padding: 0 1rem;
  margin: 6px 0 2px 0;
}

.hr-top.recommend {
  all: unset;
  display: block;
  border-bottom: 1px solid #efefef;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 1px 0;
  width: calc(100% - 2rem);
}

@media screen and (min-width: 512px) {
  .ranking-page-main .share-nav {
    margin: 11px 0;
    margin-bottom: -5px;
  }

  .recommend-header-desc-text {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: bold;
  }

  .ranking-page-main .share-nav-inner {
    width: 100%;
    flex-direction: column;
  }

  .recommend-header h2 {
    color: #111;
    line-height: 1.5;
    font-size: 21px;
  }

  .recommend-desc {
    font-size: 14px;
  }

  .recommend-desc2 {
    font-size: 14px;
  }

  .ranking-page-main .talkroom_banner_img_figure figcaption {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .recommend-header-desc {
    font-size: 15px;
  }

  .recommend-header-desc.desc-bottom {
    margin-top: 8px;
    font-size: 16px;
    line-height: 2;
  }

  .ranking-desc .recommend-desc {
    font-size: 14px;
  }

  .list-title {
    margin-top: 1rem;
    font-size: 17px;
  }

  .list-aside .tag-list li {
    margin: 8px 0 0 4px;
  }

  .list-aside .tag-btn {
    font-size: 14px;
    font-weight: 500;
  }

  .more-text {
    font-size: 14px;
  }

  .close-btn {
    font-size: 14px;
  }
}

.list-title.oc-list a {
  all: unset;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.top-ranking .openchat-item::before {
  font-size: 13px;
  text-align: end;
  left: -27px;
}

@media screen and (min-width: 768px) {
  .recommend-header-desc.desc-bottom,
  .list-aside.recommend-ranking-bottom,
  .recommend-header-wrapper {
    zoom: 110%;
  }

  .recommend-ranking-section-header {
    margin: 8px 0;
    zoom: 110%;
  }
}
