.btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper h3 {
  all: unset;
  font-weight: bold;
  font-size: 14px;
  color: #111;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.recommend-list {
  overflow-x: scroll;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 1rem;
}

.recommend-list li {
  all: unset;
  min-width: 136px;
  max-width: 136px;
  margin: 0;
  padding: 0;
  padding: 13px 3px;
  padding-bottom: 0;
}

.recommend-list h4 {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  margin: 0;
  margin-top: 6px;
  /* text-align: center; */
  line-height: 125%;
  overflow-wrap: anywhere;
  color: #111;
  font-weight: 500;
}

.recommend-desc {
  font-size: 10.5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  margin: 0;
  margin-top: 2px;
  line-height: 125%;
  overflow-wrap: anywhere;
  color: #777;
}

.recommend-member {
  font-size: 13px;
  color: #777;
  line-height: 125%;
  margin-top: 2px;
  white-space: nowrap;
}

.recommend-list::-webkit-scrollbar {
  display: none;
}

.read-more-list-btn {
  display: none;
}

.recommend-list a {
  cursor: pointer;
  text-decoration: none;
  color: #111;
  user-select: none;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 174px;
  justify-content: space-evenly;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 6px;
  text-align: center;
}

.recommend-list a.rectangle {
  height: 163px;
}

.recommend-list img {
  display: block;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.css-162gv95 {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  color: rgb(7, 181, 59);
  font-size: 11px;
  margin: -1px -4px;
}

.btn-wrapper a {
  cursor: pointer;
  display: flex;
  width: 100%;
  text-wrap: nowrap;
  justify-content: space-between;
}

.btn-wrapper .inner {
  display: flex;
  flex-direction: row; /* align-items: center; */
  margin: 0 1rem;
  width: 100%;
}

.recommend-list li.selected > a {
  cursor: unset;
}

@media screen and (max-width: 511px) {
  .recommend-list li.selected > a {
    background-color: #f5f5f5;
    border: none;
  }
}

@media screen and (min-width: 512px) {
  .btn-wrapper a {
    cursor: pointer;
    display: flex;
    width: unset;
    text-wrap: nowrap;
    justify-content: space-between;
  }

  .btn-wrapper a h3 {
    text-decoration: underline;
  }

  .btn-wrapper a small {
    display: none;
  }

  .btn-wrapper .inner {
    width: unset;
  }

  .recommend-list {
    overflow-x: unset;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 1rem;
  }

  .recommend-list li {
    padding: 0;
    border: 0;
    margin: 6px 0;
    min-width: 46%;
    max-width: 46%;
  }

  .recommend-list li.selected {
    padding: 4px 6px;
    border-radius: 4px;
    margin: 2px -6px;
    background-color: #f5f5f5;
  }

  .recommend-list h4 {
    font-size: 13px;
    -webkit-line-clamp: 1;
  }

  .recommend-list li:nth-child(n + 5) {
    display: none;
  }

  .recommend-list.show-all li:nth-child(n + 5) {
    display: block;
  }

  .recommend-desc {
    margin-top: 3px;
    font-size: 12px;
  }

  .recommend-member {
    font-size: 12.5px;
  }

  .read-more-list-btn {
    display: inline-block;
    margin: 0;
    height: 32px;
    border: 1px solid #efefef;
    border-radius: 9rem;
    background-color: #fff;
    font-size: 11px;
    cursor: pointer;
    padding: 0 12px;
    margin-right: 1rem;
  }

  .recommend-list a {
    height: fit-content;
    border: 0;
    padding: 0;
    text-align: unset;
    position: relative;
    padding-left: 62px;
  }

  .recommend-list img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
  }

  .btn-wrapper h3 {
    font-size: 14.5px;
  }
}
