hr {
  border-bottom: solid 1px var(--border-color);
  margin: 12px 0;
}

li {
  all: unset;
}

.tag-list-section {
  all: unset;
  display: block;
  margin-bottom: 1.5rem;
}

time {
  font-size: 11px;
  color: #888;
  display: flex;
  justify-content: flex-end;
}

.list-aside .tag-list {
  all: unset;
  list-style: none;
  display: block;
}

.list-aside .tag-list li {
  all: unset;
  display: inline-block;
  margin: 7px 0 0 2px;
  max-width: calc(100% - 5px);
  vertical-align: top;
}

.list-aside .tag-btn {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 36px;
  box-sizing: border-box;
  color: #111;
  display: inline-flex;
  font-size: 13px;
  height: 36px;
  letter-spacing: -0.3px;
  line-height: 15px;
  padding: 0 12px;
}

.list-aside.ranking-desc {
  margin: 0px 0 11px 0;
}

.hearder-img-outer {
  margin: 0rem -1rem 0rem -1rem;
  overflow: hidden;
  position: relative;
}

.header-img {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 3px);
  gap: 0px;
  aspect-ratio: 2 / 1;
  margin: 0rem -1.5px 0rem -1.5px;
}

.header-img img {
  width: calc(100% / 4);
  object-fit: cover;
  display: flex;
  aspect-ratio: 1;
  padding: 0.5px;
}

.header-img-title {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.9));
  z-index: 1;
  width: 100%;
  padding: 10% 1rem 10px 1rem;
  box-sizing: border-box;
}

.recommend-header {
  text-align: left;
}

.recommend-header h2 {
  color: #fff;
  line-height: 29px;
  font-size: 17.5px;
  margin: 0;
}

.ranking-page-main .share-nav {
  margin: 8px 0;
  margin-bottom: 20px;
}

.ranking-page-main .share-menu-outer {
  scale: 75%;
  justify-content: space-between;
}

.recommend-p {
  display: block;
}

.recommend-desc {
  color: #555;
  font-size: 14px;
  line-height: 1.9;
}

.recommend-desc2 {
  color: #555;
  font-size: 14px;
  line-height: 1.9;
}

.ranking-desc .recommend-desc {
  margin-top: 6px;
  padding-left: 0.5rem;
}

.small {
  font-size: 85%;
}

section aside:hover {
  all: unset;
}

.list-aside {
  all: unset;
  display: block;
  margin: 2rem 0;
}

.list-title {
  color: #111;
  font-size: 15px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
}

.list-title.oc-list {
  margin-bottom: 6px;
  margin-left: -6px;
}

.list-aside details {
  margin: 0;
  font-size: 13px;
  color: #777;
  font-weight: normal;
}

.list-aside summary {
  width: fit-content;
}

.list-aside-details {
  padding-left: 0.5rem;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-aside-desc {
  font-size: 13px;
  color: #555;
  display: block;
}

.openchat-item-list .css-162gv95 {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  color: rgb(7, 181, 59);
  font-size: 11px;
  margin: -1px -4px;
}

.list-aside .tag-btn.close-btn {
  border-radius: 99rem;
  display: block;
}

.list-aside .tag-btn.close-btn::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  transform: rotate(135deg);
  margin-bottom: 3px;
}

.ranking-page-main .openchat-item-lower-outer {
  flex-direction: row;
  gap: 8px;
  margin-top: 2px;
  align-items: center;
}

.ranking-page-main {
  border: 0;
  margin-bottom: 0;
}

.ranking-page-main .openchat-item-mui-chip-outer {
  margin-top: 0;
}

.diff-member {
  all: unset;
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #888;
}

.diff-member div {
  padding: 2px 4px;
  border: 1px solid #efefef;
  border-radius: 4px;
}

.app_link {
  margin: 0.5rem 0;
}

.app_link a {
  font-size: 13px;
  color: #555;
}

@media screen and (min-width: 512px) {
  .header-img {
    margin: 1.3rem 0;
  }

  time {
    font-size: 13px;
    color: #888;
    justify-content: flex-start;
  }

  main header {
    margin-bottom: 1rem;
  }

  .header-img {
    width: calc(100% + 6px);
    margin: 0rem -3px 0rem -3px;
  }

  .header-img img {
    border-radius: 6px;
    padding: 3px;
  }

  .header-img-title {
    position: static;
    background: unset;
    margin-top: 1rem;
    padding: 0 1rem;
  }

  .ranking-page-main .share-nav {
    margin: 11px 0;
    margin-bottom: -5px;
  }

  .ranking-page-main .share-nav-inner {
    width: 100%;
    flex-direction: column;
  }

  .ranking-page-main .share-menu-outer {
    width: 40%;
    scale: 100%;
    justify-content: space-between;
  }

  .recommend-header h2 {
    color: #111;
    font-size: 24px;
    line-height: 1.5;
  }

  .recommend-p {
    margin: 1rem 0 1.5rem 0;
  }

  .recommend-desc {
    font-size: 14px;
  }

  .recommend-desc2 {
    font-size: 14px;
  }

  .ranking-desc .recommend-desc {
    font-size: 14px;
  }

  .list-title {
    margin-top: 1rem;
    font-size: 17px;
  }
  .list-aside .tag-list li {
    margin: 8px 0 0 4px;
  }

  .list-aside .tag-btn {
    font-size: 14px;
    font-weight: 500;
  }

  .more-text {
    font-size: 14px;
  }

  .close-btn {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .ranking-page-main {
    max-width: 632px;
    padding-top: 0;
    margin: 0 auto;
  }

  .ranking-page-main .openchat-item-list {
    margin: 0;
    margin-left: 0rem;
  }
}

.list-title.oc-list a {
  all: unset;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.top-ranking .openchat-item-list {
  margin-top: 0;
  margin-top: 0;
}

.top-ranking .openchat-item::before {
  font-size: 13px;
  text-align: end;
  left: -27px;
}
