:root {
  --border-color: #efefef;
}

html {
  overflow-y: scroll;
  /* 常に垂直スクロールバーを表示 */
}

.pc-hr {
  display: none;
}

.openchat {
  display: block;
  padding-bottom: 0;
  font-family: var(--font-family);
  max-width: 812px;
}

.openchat-header {
  display: flex;
  padding: 1rem;
  padding-top: 0;
}

.openchat-graph-section {
  padding: 1rem;
}

.open-btn.sp-btn {
  margin: 0;
  padding-top: 1rem;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.comment-section {
  padding: 1rem;
}

.comment-section .share-nav {
  padding-bottom: 0;
}

.recommend-list-aside {
  padding: 0 1rem;
}

.recommend-list-aside:has(.top-ranking.not-rank) {
  padding: 0;
}

.recommend-list-aside:has(.top-ranking.not-rank) .top-ranking.not-rank {
  padding: 0.5rem 1rem;
}

.oc-page-footer {
  padding: 1rem;
}

.openchat .graph-title {
  font-weight: bold;
  font-size: 16px;
  color: #111;
  margin: 0;
}

.talkroom_description_box.close br {
  display: none;
}

.oc-desc-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #efefef;
}

@media screen and (min-width: 512px) {
  .oc-desc-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    border-top: 1px solid #efefef;
  }
}

/* .oc-desc-nav.no-ranking {
  margin-top: -5rem;
  position: absolute;
  z-index: 100;
  width: calc(100% - 2rem);
  max-width: calc(var(--width) - 2rem);
} */

.openchat-header a {
  cursor: pointer;
}

/* メインエリア */
/* オープンチャットヘッダー*/

.talkroom_banner_img_area {
  min-width: 30.44316%;
  max-width: 30.44316%;
  display: flex;
  flex-direction: column;
}

.talkroom_banner_img {
  object-fit: cover;
  display: flex;
  border-radius: 7px;
  aspect-ratio: 1;
  width: 100%;
}

.openchat-header-right {
  margin-left: 2.89017%;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.1px;
  gap: 4px;
  width: 100%;
}

.h1-link {
  all: unset;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

/* オープンチャットのタイトル*/
.talkroom_link_h1 {
  line-height: 125%;
  font-size: 17.5px;
  font-weight: 700;
  color: #111;
  display: block;
  white-space: break-spaces;
  word-break: break-all;
}

.link-mark {
  display: flex;
  align-items: center;
}

.link-mark .line-link-icon {
  width: 14px;
  height: 14px;
  display: block;
}

.link-mark .link-title {
  font-size: 11px;
  display: block;
  width: fit-content;
  background: -webkit-linear-gradient(
    98deg,
    #0dc95a,
    #11d871 23.96%,
    #11d593 55.46%,
    #12cfcd 83.85%,
    #16c2c1
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #978170;
}

#read_more_btn {
  line-height: 130%;
}

/* メンバー数 */
.talkroom_number_of_members {
  color: #aaa;
}

.number_of_members {
  display: block;
  color: #777;
  font-weight: bold;
  font-size: 13px;
}

.openchat-itme-stats-title {
  margin-right: 2px;
}

.openchat-item-stats.percent {
  margin-left: 1px;
}

/* オープンチャットの詳細エリア */
.talkroom_description_box {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 1px;
  position: relative;
  background-color: white;
}

.talkroom_description_box .more {
  display: none;
  line-height: 125%;
}

.talkroom_description_box.close .more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  color: #aaa;
}

.more-text {
  background-color: white;
}

.talkroom_description_box .more-separater {
  width: 4rem;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

/* オープンチャットの説明 */
.talkroom_description {
  margin: 0;
  line-height: 130%;
  color: #111;
  text-align: center;
}

#talkroom-description-btn {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.talkroom_description_box.close #talkroom-description-btn {
  white-space: unset;
}

.talkroom_description_box.close {
  cursor: pointer;
  user-select: none;
}

.talkroom_description_box .close-btn {
  margin-left: auto;
  display: block;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  background: inherit;
  color: #111;
  border: 0;
}

.talkroom_description_box.close .close-btn {
  display: none;
}

.talkroom_description_box.close .talkroom_description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}

.talkroom_description_box.close.hidden {
  cursor: unset;
  user-select: unset;
}

/* ボトムエリア */
.openchat-bottom {
  display: flex;
  justify-content: space-evenly;
}

.openchat-list-date {
  display: flex;
  flex-direction: row;
  color: #777;
  font-size: 13px;
  align-items: flex-start;
  gap: 4px;
}

.openchat-list-date.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.refresh-icon {
  height: 12px;
  aspect-ratio: 1/1;
  background-image: var(--refresh);
}

.openchat-list-date time {
  display: inline-block;
}

.talkroom_number_of_stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  align-items: flex-start;
  margin-top: 2px;
}

.number-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  color: #777;
}

.number-box .openchat-itme-stats-title {
  font-size: 13px;
  word-break: keep-all;
  text-wrap: nowrap;
  color: #777;
}

.number-box.created-at {
  line-height: 1.5;
  margin-left: auto;
  text-wrap: nowrap;
  flex-wrap: nowrap;
}

.number-box.created-at .openchat-itme-stats-title {
  color: #777;
  font-size: 12px;
  margin: 0;
}

.number-box.created-at.registed .openchat-itme-stats-title {
  font-size: 12px;
  color: #777;
}

.number-box.bold {
  font-weight: bold;
}

.number-box.weekly.negative .openchat-item-stats,
.negative .openchat-item-stats {
  font-weight: normal;
}

.my-list-form {
  all: unset;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-top: 6px;
  width: 100%;
}

.my-list-form .checkbox-label {
  height: fit-content;
  border-radius: 7px;
  word-break: keep-all;
  color: #111;
  line-height: normal;
  font-weight: bold;
}

.open-btn {
}

.open-btn.pc-btn {
  display: none;
}

.openchat_link {
  background: linear-gradient(
    -156deg,
    #0dc95a,
    #11d871 23.96%,
    #11d593 55.46%,
    #12cfcd 83.85%,
    #16c2c1
  );
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  /* height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
  width: 100%;
  height: 51px;
  line-height: 1;
  gap: 6px;
  flex-direction: column;
  max-width: 250px;
}

.openchat_link .text {
  line-height: 1;
}

.number-box .css-162gv95 {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  color: rgb(7, 181, 59);
  font-size: 11px;
  margin: 0px 0px 1px 0px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 6px;
}

.title-bar-oc-name-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.title-bar-oc-name {
  font-size: 11px;
  color: #777;
  font-weight: normal;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  word-break: break-all;
}

.title-bar-oc-member {
  font-size: 11px;
  color: #777;
  font-weight: normal;
  line-height: 1.3;
  text-wrap: nowrap;
}

.title-bar-oc-name .super-icon.sp {
  scale: 0.6;
  margin: -5px -2px 0px -4px;
}

.title-bar-oc-name .super-icon.official {
  scale: 0.6;
  margin: -4px -2px 0px -4px;
}

.openchat-item-title-img {
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  object-fit: cover;
  border-radius: 50%;
  pointer-events: none;
  display: block;
  margin: auto 0;
  margin-right: 2px;
}

@media screen and (max-width: 359px) {
  .talkroom_number_of_stats {
    margin-right: -0.5rem;
  }

  .openchat-bottom {
    justify-content: space-between;
  }

  .openchat .graph-title {
    font-size: 14px;
  }

  .my-list-form .checkbox-label {
    font-size: 11px;
    margin-right: 0px;
    text-wrap: unset;
  }

  .number-box.created-at {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 512px) {
  .openchat-header {
    padding-top: 1rem;
  }

  .openchat-graph-section {
    padding-top: 25px;
  }

  .title-bar-oc-name {
    font-size: 13px;
  }

  .number-box.created-at {
    margin-left: auto;
    color: #777;
  }

  .number-box.created-at .openchat-itme-stats-title {
    font-size: 13px;
    color: #777;
  }

  .number-box.created-at.registed .openchat-itme-stats-title {
    font-size: 13px;
    color: #777;
  }

  .number-box .openchat-itme-stats-title {
    font-size: 14px;
    word-break: keep-all;
    text-wrap: nowrap;
  }

  .openchat-item-title-img {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  .first-recommend {
    margin: 2rem 0;
  }

  .link-mark .link-title {
    font-size: 12px;
  }

  .talkroom_link_h1 {
    font-size: 21px;
    line-height: 125%;
  }

  .h1-link:hover .talkroom_link_h1 {
    -webkit-text-decoration: underline 2px currentColor;
    text-decoration: underline 2px currentColor;
  }

  .talkroom_description_box.close:not(.hidden):hover {
    background-color: rgb(250, 250, 250);
  }

  .link-mark .line-link-icon777 {
    width: 16px;
    height: 16px;
  }

  .number-box.bold {
    font-weight: normal;
    color: #777;
  }

  .openchat-header,
  .talkroom_description_box {
    font-size: 13px;
    letter-spacing: -0.1px;
  }

  .openchat-header {
    padding: 1rem;
  }

  .openchat-item-stats {
    font-size: 14px;
  }

  .number_of_members {
    font-size: 14px;
  }

  .openchat-item-stats.percent {
    margin-left: 1px;
    font-size: 14px;
  }

  .openchat-list-date {
    font-size: 13px;
  }

  .openchat .graph-title {
    font-size: 1rem;
  }

  .title-bar {
    margin-bottom: 1rem;
  }

  .title-bar-oc-name .super-icon.official {
    scale: 0.7;
    margin: -1px -2px 0px -4px;
  }

  .talkroom_description_box .more,
  .talkroom_description {
    font-size: 14px;
  }

  .talkroom_description_box {
    margin-top: 4px;
    margin-bottom: 1px;
  }

  .openchat-header-right {
    gap: 4px;
  }

  .pc-hr {
    display: block;
  }

  .openchat .footer {
    justify-content: center;
    gap: 2rem;
  }

  .talkroom_number_of_members,
  .openchat-itme-stats-title,
  .talkroom_number_of_stats {
    font-size: 14px;
  }

  summary:hover {
    -webkit-text-decoration: underline 2px currentColor;
    text-decoration: underline 2px currentColor;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

#comment-root .MuiPaper-outlined.MuiPaper-rounded {
  border: 1px solid #efefef;
}

#comment-root .comment-term-text-color {
  color: #b7b7b7;
}

.list-aside {
  all: unset;
  display: block;
  padding: 0 1rem;
}

.list-aside details {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  color: #777;
  font-family: var(--font-family);
}

.list-aside summary h3 {
  all: unset;
}

.list-aside summary {
  width: fit-content;
}

.list-aside .summary-p {
  margin: 0.75rem 0;
  padding: 0;
  width: 100%;
  margin-top: 6px;
  padding-left: 0.5rem;
  font-size: 13px;
  color: #777;
  line-height: 1.8;
}

.list-aside ol {
  padding-left: 1rem;
}

.comment-aside {
  margin-top: 0.2rem;
  padding: 0;
}

.MuiToggleButton-sizeSmall.MuiToggleButton-standard {
  border-radius: 7px;
}

.MuiTypography-root.MuiTypography-h3 {
  font-size: 16px;
  color: #111;
  font-family: var(--font-family);
}

@media screen and (min-width: 768px) {
  .title-bar .number-box,
  .openchat-header,
  .graph-title,
  nav,
  #comment-root,
  .footer-link-box-outer,
  .title-bar-oc-name-wrapper {
    zoom: 110%;
  }

  .talkroom_description_box.close #talkroom-description-btn {
    white-space: pre-wrap;
  }

  .talkroom_description_box.close .talkroom_description {
    -webkit-line-clamp: 5;
    line-clamp: 5;
    text-align: center;
    text-align: left;
    line-height: 1.5;
  }

  .talkroom_description {
    text-align: left;
    line-height: 1.5;
  }
}
