:root {
  --border-color: #efefef;
}

html {
  overflow-y: scroll; /* 常に垂直スクロールバーを表示 */
}

hr {
  border-bottom: solid 1px var(--border-color);
  margin: 12px 0;
}

.openchat {
  display: block;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 12px;
  padding-bottom: 0;
  font-family: var(--font-family);
}

.openchat footer {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 2px;
  min-height: 3rem;
}

.openchat-header {
  font-size: 13px;
  display: flex;
}

.openchat-header a {
  cursor: pointer;
}

/* メインエリア */
/* オープンチャットヘッダー*/

.talkroom_banner_img_area {
  min-width: 30.44316%;
  height: 30.44316%;
  max-width: 30.44316%;
  max-height: 30.44316%;
  aspect-ratio: 1;
}

.talkroom_banner_img {
  object-fit: cover;
  display: flex;
  border-radius: 22.5%;
  aspect-ratio: 1;
  height: 100%;
}

.openchat-header-right {
  margin-left: 2.89017%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.h1-link {
  all: unset;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

/* オープンチャットのタイトル*/
.talkroom_link_h1 {
  line-height: 125%;
  font-size: 19.5px;
  font-weight: 700;
  color: #111;
  display: block;
}

.link-mark {
  display: flex;
  align-items: center;
}

.link-mark .line-link-icon {
  width: 14px;
  height: 14px;
  display: block;
}

.link-mark .link-title {
  font-size: 12px;
  display: block;
  width: fit-content;
  color: #b7b7b7;
}

/* メンバー数 */
.talkroom_number_of_members {
  margin-top: 0px;
}

.number_of_members {
  display: block;
  color: #111;
  font-weight: 700;
}

.zero-stats {
  color: var(--color-text-secondary);
}

.openchat-itme-stats-title {
  color: var(--color-text-secondary);
  color: #111;
  font-size: 13px;
  margin-right: 2px;
}

/* オープンチャットの詳細エリア */
.talkroom_description_box {
  font-size: 12px;
  margin-top: 6px;
  position: relative;
  background-color: white;
}

.talkroom_description_box .more {
  display: none;
  line-height: 125%;
}

.talkroom_description_box.close .more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  color: #aaa;
}

.more-text {
  background-color: white;
}

.talkroom_description_box .more-separater {
  width: 4rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

/* オープンチャットの説明 */
.talkroom_description {
  margin: 0;
  line-height: 130%;
  word-break: break-all;
  color: #111;
  text-align: center;
}

.talkroom_description_box.close {
  cursor: pointer;
  user-select: none;
}

.talkroom_description_box.close br {
  display: none;
}

.talkroom_description > button {
  padding: 0.5rem 1rem;
  font-size: 14px;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 99px;
  border: 0;
  font-weight: 500;
  user-select: none;
  margin-top: 1rem;
  cursor: pointer;
}

.talkroom_description_box.close .talkroom_description > button {
  display: none;
}

.talkroom_description_box.close .talkroom_description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: unset;
}

.talkroom_description_box.close.hidden {
  cursor: unset;
  user-select: unset;
}

/* ボトムエリア */
.openchat-bottom {
  display: flex;
  justify-content: space-evenly;
}

.openchat-list-date {
  display: flex;
  flex-direction: row;
  color: #aaa;
  font-size: 12px;
  white-space: nowrap;
  align-items: center;
  gap: 4px;
}

.openchat-list-date.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.refresh-icon {
  height: 12px;
  aspect-ratio: 1/1;
  background-image: var(--refresh);
}

.openchat-list-date time {
  display: inline-block;
}

.talkroom_number_of_stats {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: flex-start;
  width: fit-content;
  align-items: flex-start;
  gap: 8px;
  margin-top: 2px;
}

.talkroom_number_of_stats * {
  font-weight: 700;
}

.talkroom_number_of_stats .number-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number-box.weekly .openchat-item-stats {
  color: #07b53b;
}

.number-box.weekly.negative .openchat-item-stats {
  color: #ff5d6d;
}

.my-list-form {
  all: unset;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.my-list-form .checkbox-label {
  height: fit-content;
}

body > footer {
  border-top: solid 1px var(--border-color);
}

@media screen and (max-width: 359px) {
  .talkroom_number_of_stats {
    margin-right: -0.5rem;
  }

  .openchat-bottom {
    justify-content: space-between;
  }
}

@media screen and (max-width: 511px) {
}

@media screen and (min-width: 512px) {
  .h1-link:hover .talkroom_link_h1 {
    -webkit-text-decoration: underline 2px currentColor;
    text-decoration: underline 2px currentColor;
  }

  .talkroom_description_box.close:not(.hidden):hover {
    background-color: #f1f9f6;
  }

  hr {
    margin: 19px 0;
  }

  .openchat {
    padding-top: 19px;
  }

  .link-mark .line-link-icon777 {
    width: 16px;
    height: 16px;
  }

  .openchat-header,
  .talkroom_description_box {
    font-size: 13.5px;
  }

  .openchat-list-date {
    font-size: 12px;
  }

  .talkroom_description_box .more,
  .talkroom_description {
    line-height: 140%;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

#comment-root .MuiPaper-outlined.MuiPaper-rounded {
  border: 1px solid #efefef;
}

#comment-root .comment-term-text-color {
  color: #b7b7b7;
}
