:root {
  --border-color: #efefef;
}

.ht-top-header {
  background-color: var(--border-color);
  margin: 0rem -1rem 0rem -1rem;
}

.mylist {
  margin: 2rem 0 1rem 0;
}

.top-ranking.top-btns {
  padding-top: 0;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ranking-page-main {
  padding-top: 0rem;
  border-bottom: solid 1px var(--border-color);
}

.article-news {
  padding-top: 1px;
  margin-top: -19px;
  margin-bottom: -8px;
}

.article-news p {
  font-size: 13px;
  margin: 0.75rem 0;
}

.main-header-title {
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
  margin: auto;
  line-height: 1.1;
  padding-bottom: 0.2rem;
  color: #111;
}

.main-header-title-desc {
  display: block;
  font-size: 15px;
  padding-bottom: 0.1rem;
  color: #111;
}

.add-openchat-form {
  display: block;
  margin: 1rem 0 1.5rem 0;
  min-width: auto;
  border-radius: 16px;
  border: solid 1px #e8e8e8;
  padding: 12px;
}

.add-openchat-form label {
  font-size: 13px;
  color: #616161;
  font-weight: 500;
}

.add-openchat-form input {
  all: unset;
  box-sizing: border-box;
  padding: 0.8rem 1rem 0.8rem 1rem;
  line-height: 1.4;
  font-size: 16px;
  outline: 0;
  resize: none;
  width: 100%;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.add-openchat-form input:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 2px rgba(77, 199, 100, 0.9);
}

.false input {
  border: 1px solid #ff6868;
}

.false input:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 0px;
}

.recent-oc-btn {
  color: #777;
  text-decoration: underline 1px;
  font-size: 13px;
}

/* Submit button */
.ellipse-btn {
  all: unset;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  display: block;
  background: rgb(77, 199, 100);
  color: white;
  border-radius: 99rem;
  padding: 0px 22px;
  height: 40px;
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
}

.ellipse-btn:hover {
  background: rgb(52, 134, 67);
  color: white;
}

.ellipse-btn:disabled {
  box-shadow: 0 0 0 0;
  color: white;
  background: rgba(77, 199, 100, 0.5);
}

.ellipse-btn:focus-visible {
  outline: 3px solid var(--headline);
  background-color: var(--background);
  color: var(--headline);
}

.ellipse-btn.add-openchat {
  margin-top: 12px;
  box-sizing: border-box;
}

.add-openchat-message {
  display: none;
  font-size: 13px;
  font-weight: bold;
  color: #ff6868;
  width: fit-content;
}

.add-openchat-message.false,
.false .add-openchat-message {
  display: block;
}

.add-openchat-message.success {
  display: block;
  margin-top: 1rem;
  color: var(--background);
  background-color: var(--headline);
}

.openchat-list-title-area {
  display: flex;
}

.ranking-page-main .openchat-list-title-area {
  margin-bottom: 0;
}

.openchat-list-title-area h2 {
  display: flex;
  flex-wrap: wrap;
}

.openchat-list-title {
  all: unset;
  font-size: 16px;
  font-weight: bold;
  background: -webkit-linear-gradient(
    45deg,
    rgb(253, 18, 226) 20%,
    rgb(164, 67, 221),
    rgb(84, 126, 255) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #978170;
  display: inline-block;
  width: fit-content;
  line-height: 125%;
}

.top-page .openchat-list-title {
  font-size: 18px;
  line-height: 1.7;
}

.openchat-list-title-result {
  all: unset;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}

.openchat-list-subtitle {
  color: #777;
  font-size: 12px;
  display: inline-block;
  margin: auto 0;
  margin-left: 4px;
}

.openchat-list-date {
  display: flex;
  color: #b7b7b7;
  font-size: 13px;
  flex-wrap: wrap;
}

.openchat-list-date.ranking-url {
  align-items: center;
}

@media screen and (max-width: 374px) {
  .openchat-list-date {
    font-size: 12px;
    gap: 3px;
  }
}

.openchat-list-date span {
  padding-right: 5px;
}

.refresh-time {
  display: flex;
}

.refresh-icon {
  height: 12px;
  aspect-ratio: 1/1;
  background-image: var(--refresh);
  margin: auto 0;
}

.openchat-list-date time,
.openchat-list-date span {
  margin: auto 0;
  display: inline-block;
}

.refresh-time span {
  font-size: 14px;
  line-height: normal;
  color: #111;
  font-weight: bold;
}

.openchat-list-title-area p {
  font-size: 13px;
  margin: 0.5rem 0;
  color: #777;
}

.ranking-page-main .openchat-list-title-area p {
  font-size: 13px;
  margin: 0.5rem 0;
}

.openchat-item-list {
  display: block;
  max-width: 812px;
  margin: 0 auto;
}

.top-ranking .openchat-item-list {
  margin-bottom: -14px;
  margin-top: -14px;
  width: 100%;
}

.top-ranking,
.recent-comment-list {
  display: flex;
  /* padding: 1rem 0; */
  padding: 0.5rem 0;
  flex-direction: column;
  gap: 12px;
  /* border-bottom: 1px solid #efefef; */
  /* border-top: 1px solid #efefef; */
}

.recent-comment-list .openchat-item-list {
  margin-bottom: -1rem;
  margin-top: -0.5rem;
  width: 100%;
}

.openchat-item {
  display: block;
  max-width: 100%;
  min-width: 0;
  padding: 0;
  position: relative;
  margin: 20px 0;
  margin-right: 1.5rem;
  padding-left: 62px;
  letter-spacing: -0.3px;
  cursor: pointer;
  min-height: 58px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.openchat-item.add-openchat-form-item {
  margin: 1rem 0 1rem 0;
}

.link-overlay {
  position: absolute;
  inset: 0px;
  cursor: pointer;
  z-index: 10;
}

.link-overlay:focus-visible {
  outline: 0;
}

.openchat-item.add-openchat-form-item a {
  padding: 0;
}

.openchat-item-img {
  position: absolute;
  z-index: 0;
  top: 0.125rem;
  left: 0;
  display: block;
  margin: auto 0;
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.recent-comment-list .openchat-item-img {
  width: 40px;
  height: 40px;
  top: 8px;
}

.openchat-item h3 {
  display: block;
  min-width: 0px;
  max-width: min-content;
}

.openchat-item h2:focus-visible {
  outline: 0;
}

.openchat-item-title {
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-size: 15px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.openchat-item-title:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.openchat-item-desc {
  color: #777;
  font-size: 13px;
  line-height: 135%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  margin-top: 3px;
}

.openchat-item-lower-outer {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 1px;
}

.top-ranking .openchat-item-lower {
  gap: 6px;
}

.top-ranking .openchat-item-lower-outer {
  flex-direction: row;
  margin-top: 2px;
  text-wrap: nowrap;
  flex-wrap: wrap;
  gap: 1px;
}

.recent-comment-list .openchat-item-lower-outer:has(.registration-date) {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.mylist .openchat-item-lower-outer {
  flex-direction: row;
}

.openchat-item-lower {
  display: flex;
  color: #aaa;
  font-size: 13px;
  line-height: 1.1rem;
  gap: 4px;
}

.openchat-item-lower > span:nth-child(2) {
  position: relative;
}

.openchat-item-mui-chip-outer {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 12px;
  display: block;
  width: fit-content;
  margin-top: 1px;
}

.openchat-item-mui-chip-inner {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 7px;
  padding-right: 7px;
  white-space: nowrap;
  color: RGB(124, 124, 124);
}

.openchat-itme-stats-title {
  color: var(--color-text-secondary);
  font-size: 11px;
  display: inline-block;
}

.top-ranking:not(.not-rank) {
  counter-reset: openchat-counter;
}

.top-ranking:not(.not-rank) .openchat-item {
  min-height: 56px;
  margin: 13px 1.5rem 13px 30px;
  margin-left: 1.5rem;
}

.top-ranking.not-rank .openchat-item {
  min-height: 56px;
  margin: 13px 1.5rem 13px 0;
}

.recommend-ranking-section .top-ranking:not(.not-rank) .openchat-item {
  margin: 17px 1.5rem 17px 30px;
}

@media screen and (min-width: 768px) {
  .top-ranking:not(.not-rank) .openchat-item {
    margin: 13px 3rem 13px 30px;
  }

  .top-ranking.not-rank .openchat-item {
    margin: 13px 3rem 13px 0;
  }

  .recommend-ranking-section .top-ranking:not(.not-rank) .openchat-item {
    margin: 17px 3rem 17px 30px;
  }
}

.recent-comment-list .openchat-item {
  min-height: 40px;
  margin: 0;
  padding: 8px 0;
  padding-left: 50px;
  padding-right: 1.5rem;
  cursor: unset;
}

.recent-comment-list .openchat-item .link-overlay {
  margin: -4px -1rem;
}

.top-ranking:not(.not-rank) .openchat-item::before {
  width: 1rem;
  content: counter(openchat-counter);
  counter-increment: openchat-counter;
  position: absolute;
  left: -1.6rem;
  top: 25px;
  transform: translateY(-36%);
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.top-ranking:not(.not-rank) .openchat-item.goldmedal::before {
  content: "🥇";
  font-style: normal;
  font-size: 24px;
  left: -31px;
  top: 23px;
  line-height: 1;
}

.top-ranking:not(.not-rank) .openchat-item.silvermedal::before {
  content: "🥈";
  font-style: normal;
  font-size: 22px;
  left: -30px;
  top: 23px;
  line-height: 1;
}

.top-ranking:not(.not-rank) .openchat-item.blonzemedal::before {
  content: "🥉";
  font-style: normal;
  font-size: 20px;
  left: -29px;
  top: 23px;
}

.top-ranking:not(.not-rank) .openchat-item.reverse::before {
  counter-increment: openchat-counter -1;
}

.top-ranking:not(.not-rank) .openchat-item-desc {
  -webkit-line-clamp: 1;
  font-size: 13px;
  margin-top: 2px;
}

.recent-comment-list .openchat-item-desc {
  color: #111;
  font-weight: normal;
  line-height: 150%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.top-ranking .openchat-item h3 {
  min-width: unset;
  max-width: unset;
}

.recent-comment-list .openchat-item h3 {
  display: block;
  min-width: 0px;
  max-width: min-content;
}

.recent-comment-list .openchat-item-title {
  display: flex;
}

.top-ranking .openchat-item-title {
  font-size: 15px;
  color: #111;
}

.comment-user {
  color: #777;
  font-size: 14px;
  display: block;
  font-weight: normal;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.openchat-item-title .comment-name {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #111;
  font-weight: bold;
  max-width: 70%;
}

.openchat-item-title .comment-member-count {
  color: #111;
  font-weight: 500;
}

/* .openchat-item-title .comment-user:before {
  content: '';
  position: absolute;
  top: 7.5px;
  left: -6px;
  width: 2px;
  height: 2px;
  background-color: #aaa;
} */

.comment-footer {
  all: unset;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 3px;
}

.comment-time {
  font-weight: normal;
  position: relative;
  color: #777;
  font-size: 13px;
}

.recent-comment-list .super-icon {
  scale: 70%;
  margin: -2px;
}

.mylist .super-icon,
.top-ranking .super-icon {
  scale: 74%;
  margin: -2px;
  margin-right: 1px;
}

.recent-comment-list .openchat-item-lower,
.top-ranking .openchat-item-lower {
  font-size: 13px;
  margin: 0;
  width: 100%;
}

.recent-comment-list .openchat-item-mui-chip-outer,
.top-ranking .openchat-item-mui-chip-outer {
  font-size: 12px;
  margin: 0;
}

.top-ranking .openchat-item-mui-chip-outer {
  height: fit-content;
}

.recent-comment-list .openchat-item-lower,
.recent-comment-list .openchat-item-mui-chip-outer {
  font-size: 13px;
  margin: 0;
}

.recent-comment-list .registration-date {
  color: #aaa;
}

.top-ranking.created-at .blue {
  color: #aaa;
}

.top-ranking-readMore {
  cursor: pointer;
  height: 42px;
  display: flex;
  box-sizing: border-box;
  margin: 0 -1rem;
  margin-top: 1.4rem;
  margin-bottom: 2.4rem;
}

.readMore-btn.top-ranking-readMore,
.top-ranking .top-ranking-readMore,
.recent-comment-list .top-ranking-readMore {
  margin: 0;
  height: 42px;
  border: 1px solid #efefef;
  border-radius: 7px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(253, 18, 226) 20%,
    rgb(164, 67, 221),
    rgb(84, 126, 255) 90%
  );
  opacity: 0.7;
}

.readMore-btn.top-ranking-readMore.white-btn,
.top-ranking .top-ranking-readMore.white-btn,
.recent-comment-list .top-ranking-readMore.white-btn {
  margin: 0;
  height: 42px;
  border: 1px solid #efefef;
  border-radius: 7px;
  background: unset;
  opacity: 1;
}

.ranking-readMore {
  font-size: 15.3px;
  display: block;
  width: fit-content;
  margin: auto;
  line-height: 24px;
  color: #fff;
  font-weight: 900;
}

.top-ranking .ranking-readMore,
.recent-comment-list .ranking-readMore {
  font-size: 14px;
  line-height: unset;
  font-weight: 900;
}

.white-btn .ranking-readMore {
  color: #111;
  font-size: 13px;
}

.white-btn .ranking-readMore::after {
  display: inline-block;
  content: "";
  margin-left: 6px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  transform: rotate(45deg);
  margin-bottom: 1px;
}

.ranking-readMore .small {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  margin-left: 4px;
}

.white-btn .ranking-readMore .small {
  color: #aaa;
}

.page-select {
  display: flex;
  width: 100%;
  margin-top: 12px;
}

.page-select form {
  position: relative;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  border-color: #efefef;
  box-sizing: border-box;
  margin: 0 auto;
  height: 48px;
}

.page-select a {
  width: 15%;
}

.page-select form {
  width: 87.5%;
}

.page-select select {
  width: 100%;
  height: 48px;
  z-index: 2;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  left: 0;
  top: 0px;
  font-size: 13px;
}

.page-select label {
  margin: auto;
  position: relative;
  padding-right: 2rem;
  font-size: 12px;
}

.page-select label span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7px;
  margin-top: -6px;
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #111;
  border-right: solid 2px #111;
  transform: rotate(45deg);
}

.search-pager {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0.5rem 0;
  width: fit-content;
}

.button01 a {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  color: var(--headline);
  background-color: var(--background);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: 0 1em;
  height: 48px;
  line-height: 1.4;
  font-size: 13px;
  margin: 0 0.25rem;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s;
}

.button01.prev a {
  color: #aaa;
  border: 0px;
  background-color: inherit;
  box-shadow: 0 0 0 0;
}

.button01.next a::after {
  content: "";
  margin-left: 4px;
  width: 5px;
  height: 5px;
  border-top: 2px solid var(--headline);
  border-right: 2px solid var(--headline);
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.button01.prev a::before {
  content: "";
  margin-right: 4px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #aaa;
  border-right: 2px solid #aaa;
  transform: rotate(225deg);
  margin-bottom: 2px;
}

.button01 a:focus-visible {
  transition: 0s;
  outline: 2px solid var(--tertiary);
  background-color: rgba(227, 246, 245, 0.7);
}

.button01label {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.4;
  font-size: 13px;
  margin: 0 0.5rem;
  color: #aaa;
  white-space: nowrap;
}

.list-btn-nav {
  display: flex;
  padding-top: 0;
  margin: 0 -1rem;
  margin-top: 12px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  border-bottom: solid 1px var(--border-color);
}

.list-btn {
  height: 48px;
  width: 100%;
  background-color: white;
  color: var(--color-text-secondary);
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #b7b7b7;
}

.btn-text {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4px;
}

.btn-buttom {
  min-height: 2px;
  width: 56px;
  border-radius: 10rem;
}

.list-btn:disabled {
  background-color: white;
  color: #111;
}

.list-btn:disabled .btn-buttom {
  background-color: #111;
}

.disabledList {
  display: none;
}

.registration img {
  top: 8px;
}

.registration .registration-date.gray {
  color: #777;
  font-size: 13px;
  /* font-weight: bold;*/
}

.blue {
  color: #4d73ff;
}

.border-blue {
  border: solid 2px #4d73ff;
}

.openchat-item.hidden-changelog {
  display: none;
}

.openchat-item.hidden-changelog.show-changelog {
  display: block;
}

.super-icon {
  margin-top: -1px;
  scale: 0.8;
}

.refresh-time .count {
  margin-right: 6px;
  margin-left: 2px;
}

.top-small-desc,
.top-small-desc a {
  color: #777;
  font-size: 13px;
}

@media screen and (max-width: 359px) {
  header,
  main {
    padding: 0rem 8px;
  }

  .top-ranking .openchat-item-lower-outer {
    flex-direction: column;
    gap: 0px;
  }

  .top-ranking .openchat-item-lower {
    margin-right: 5px;
  }

  .recent-comment-list .openchat-item,
  .top-ranking .openchat-item,
  .openchat-item {
    margin-right: 0;
  }

  h2 .openchat-list-title {
    margin-left: 0;
  }

  .add-openchat-form input {
    font-size: 13.5px;
    padding: 0.9rem 0.5rem 0.9rem 0.5rem;
  }
}

.mylist .openchat-item {
  min-height: 56px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.top-ranking.not-rank .openchat-item-desc,
.mylist .openchat-item-desc {
  -webkit-line-clamp: 1;
  font-size: 13px;
  margin-top: 3px;
}

.top-ranking.not-rank .openchat-item-lower,
.mylist .openchat-item-lower {
  margin-top: 1px;
  font-size: 13px !important;
}

.mylist .openchat-item::before,
.mylist .openchat-item::after {
  position: absolute;
  top: 76%;
  content: "";
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  border-radius: 1rem;
}

.mylist .openchat-item::before {
  left: 33px;
  border: solid 1px white;
  background: linear-gradient(
    -332deg,
    #0dc95a,
    #11d871 21.96%,
    #11d593 53.46%,
    #12cfcd 81.85%,
    #16c2c1
  );
  z-index: 2;
}

.mylist .openchat-item::after {
  left: 35px;
  width: 16px;
  height: 16px;
  background-image: url(/assets/pin.svg);
  z-index: 3;
}

@media screen and (min-width: 512px) {
  .mylist .openchat-item-desc {
    margin-top: 3px;
    font-size: 13px;
  }

  .mylist .openchat-item-lower {
    font-size: 13px;
  }
}

.link-overlay.hover {
  z-index: -1;
}

@media screen and (min-width: 512px) {
  .top-ranking.top-btns.top {
    padding-top: 1rem;
  }

  .main-header-title {
    font-size: 2.2rem;
    padding-bottom: 0.3rem;
  }

  .main-header-title-desc {
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }

  .ranking-page-main {
    padding-top: 1rem;
  }

  .article-news p {
    font-size: 13.5px;
  }

  .list-btn,
  .top-ranking-readMore {
    font-size: 15px;
  }

  .refresh-icon {
    height: 14px;
  }

  .refresh-time {
    font-size: 14px;
  }

  .openchat-item:hover .openchat-item-title {
    -webkit-text-decoration: underline 2px currentColor;
    text-decoration: underline 2px currentColor;
  }

  .recent-comment-list .openchat-item:hover .openchat-item-title {
    -webkit-text-decoration: unset;
    text-decoration: unset;
  }

  .recent-comment-list .openchat-item:hover > .link-overlay.hover {
    background: var(--hover);
  }

  main summary:hover {
    -webkit-text-decoration: underline 2px currentColor;
    text-decoration: underline 2px currentColor;
  }

  .top-ranking-readMore:hover {
    background-color: var(--hover);
  }

  .openchat-list-title-result-area {
    margin-bottom: 1rem;
  }

  .page-select {
    margin: 1rem auto 1.25rem auto;
  }

  .page-select select {
    font-size: 1rem;
  }

  .openchat-list-title.ranking-page {
    font-size: 26px;
    line-height: 36px;
  }

  .openchat-list-title-area p {
    font-size: 15px;
    margin: 0.85rem 0 1.25rem 0;
  }

  .ranking-page-main .openchat-list-title-area p {
    font-size: 15px;
    margin: 0.85rem 0 0 0;
  }

  .page-select form:hover {
    background-color: var(--hover);
  }

  .button01 a:hover {
    filter: none;
    background-color: var(--hover);
  }

  .list-btn:hover:not(:disabled) {
    background-color: var(--hover);
  }

  .super-icon {
    margin-top: -1px;
    scale: 0.85;
  }

  .recent-oc-btn,
  .top-small-desc {
    font-size: 13px;
  }

  .top-ranking:not(.not-rank) .openchat-item-desc {
    margin-top: 2px;
    font-size: 13px;
  }

  .recent-comment-list .openchat-item-desc {
    margin-top: 3px;
    font-size: 16px;
    font-weight: normal;
  }

  .recent-comment-list .openchat-item-lower,
  .top-ranking .openchat-item-lower,
  .recent-comment-list .openchat-item-mui-chip-outer,
  .top-ranking .openchat-item-mui-chip-outer {
    font-size: 13px;
    margin-top: 1px;
  }

  .top-ranking:not(.not-rank) .openchat-item-title {
    font-size: 14px;
    font-weight: 500;
  }

  .recent-comment-list .openchat-item-title {
    font-size: 13px;
    font-weight: 500;
  }

  .refresh-time span {
    font-size: 1rem;
  }

  .openchat-list-title {
    font-size: 19px;
    line-height: 2;
  }

  .top-page .openchat-list-title {
    font-size: 20px;
  }

  .mylist .super-icon,
  .top-ranking .super-icon {
    scale: 90%;
    margin-right: 4px;
    margin-top: -2px;
  }

  .top-ranking .ranking-readMore,
  .recent-comment-list .ranking-readMore {
    font-size: 14px;
  }
}

.tag-list {
  all: unset;
  list-style: none;
  display: block;
  margin-top: calc(0.5rem - 5px);
  position: relative;
}

.tag-list li {
  all: unset;
  display: inline-block;
  margin: 6px 0 0 2px;
  max-width: calc(100% - 5px);
  vertical-align: top;
}

.tag-btn {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 36px;
  box-sizing: border-box;
  color: #111;
  display: inline-flex;
  font-size: 13px;
  height: 36px;
  letter-spacing: -0.3px;
  line-height: 125%;
  padding: 0 12px;
  font-weight: bold;
  white-space: nowrap;
}

.top-ranking .tag-list li:nth-child(n + 21) {
  display: none;
}

.top-ranking .open.tag-list li:nth-child(n + 21) {
  display: inline-flex;
}

#open-btn-li {
  display: block;
  position: absolute;
  bottom: -2px;
  height: 38px;
  width: 48px;
  right: 0px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.95) 37%,
    rgba(255, 255, 255, 1) 99%
  );
}

.tag-btn.open-btn {
  border-radius: 50%;
  width: 36px;
  position: relative;
  right: 0px;
  display: block;
  height: 36px;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: 1px solid #06c755;
}

.tag-btn.open-btn::after {
  display: inline-flex;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid #06c755;
  border-right: 2px solid #06c755;
  transform: rotate(135deg);
  top: -2px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: content-box;
}

.open #open-btn-li {
  display: inline-flex;
  height: 33px;
  width: auto;
  float: inline-end;
  position: static;
}

.open .tag-btn.open-btn::after {
  transform: rotate(315deg);
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: content-box;
}

@media screen and (min-width: 512px) {
  .tag-list {
    margin-bottom: 4px;
  }

  .tag-list li {
    margin: 8px 0 0 4px;
  }

  .tag-btn {
    font-size: 14px;
    font-weight: 500;
  }
}

.hour.tag-btn {
  border: 1px solid #06c755;
}

.tag-list .css-162gv95 {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  color: #06c755;
  font-size: 11px;
  margin: -1px -4px 0px 2px;
}

.gradient-bottom {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  width: 100%;
}

.news-summary {
  color: #111;
  user-select: none;
  font-size: 13px;
  font-weight: normal;
  border: 1px solid #efefef;
  border-radius: 7px;
  padding-top: 12px;
  height: 42px;
  line-height: 1rem;
  text-align: center;
}

.news-summary:hover {
  text-decoration: none;
}

@media screen and (min-width: 512px) {
  .news-summary:hover {
    background-color: var(--hover);
  }
}

.list-aside {
  all: unset;
  display: block;
}

.list-aside details {
  margin: 0;
  font-size: 13px;
  color: #555;
  font-weight: normal;
}

.list-aside summary {
  width: fit-content;
}

.list-aside-details {
  padding-left: 0.5rem;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-aside summary h3 {
  all: unset;
}

.list-aside.ranking-desc {
  margin: 10px 0 11px 0;
}

.ranking-desc .recommend-desc {
  margin-top: 6px;
  padding-left: 0.5rem;
}

.list-aside .summary-p {
  margin-top: 6px;
  padding-left: 0.5rem;
}

.list-aside details ol {
  margin: 0;
  padding: 0 0 0 1rem;
}

.list-aside details li {
  padding: 0;
}

.list-aside details b {
  color: inherit;
}

@media screen and (max-width: 511px) {
  .top-ranking .lock-icon {
    margin-top: 0;
  }
}

/* .adsbygoogle.adsbygoogle-noablate {
  margin: 0 -1rem !important;
} */

.responsive-google {
  margin: auto !important;
}

@media screen and (min-width: 768px) {
  .openchat-list-title {
    zoom: 110%;
  }

  .openchat-item {
    zoom: 115%;
  }

  .tag-list {
    zoom: 110%;
  }

  .openchat-list-date.ranking-url {
    zoom: 110%;
  }
}
