:root {
  --border-color: #efefef;
  --hover: #f1f9f6;
}

.body > footer {
  padding: 10px 0 26px 0;
  font-family: var(--font-family);
}

.body > footer hr {
  margin: 0.25rem 0 1.5rem 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: solid 1px var(--border-color);
}

.footer-link-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #b7b7b7;
}

.footer-link-inner a {
  cursor: pointer;
  text-decoration: none;
  text-underline-offset: 0.15em;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 2.3;
  display: block;
  width: fit-content;
}

.footer-link-inner .line-link-icon777 {
  width: 14px;
  height: 14px;
}

.copyright {
  width: fit-content;
  display: block;
  font-size: 12px;
  color: #b7b7b7;
  margin: 0 auto;
  padding: 2rem 0;
}

/* シェアボタン */
.share-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.share-nav h3 {
  all: unset;
  font-size: 13px;
  color: #111;
  display: block;
  margin: 0 auto;
}

.share-nav h3 span {
  user-select: none;
}

.share-nav-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1rem;
}

.share-menu-outer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.share-menu-item {
  display: block;
  cursor: pointer;
}

.share-menu-icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.share-menu-icon-line {
  background-image: url('/assets/line.svg');
}

.share-menu-icon-twitter {
  background-image: url('/assets/twitter_x.svg');
  background-color: #000000;
  border-radius: 6px;
}

.share-menu-icon-facebook {
  background-image: url('/assets/facebook.svg');
}

.share-menu-icon-hatena {
  background-color: #00a4de;
  background-image: url('/assets/hatena.svg');
  border-radius: 6px;
}

.copy-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  min-height: 48px;
  width: 100%;
  border-radius: 99rem;
  border: 1px solid rgb(189, 189, 189);
  font-weight: normal;
  box-sizing: border-box;
}

.copy-btn-inner {
  display: flex;
  align-items: center;
  gap: 4px;
}

.copy-btn-text {
  width: fit-content;
  font-size: 13px;
}

.copy-btn-icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  display: block;
}

.link-icon {
  background-image: url('/assets/copy_icon_b.svg');
}

.copy-btn-copied .copy-icon {
  background-image: url('/assets/copy_icon.svg');
  width: 16px;
  height: 16px;
}

.description1 {
  z-index: 100;
  display: none;
  position: fixed;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 87.5%;
  cursor: auto;
  user-select: none;
  -webkit-user-select: none;
}

.copy-btn-copied .description1 {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 要素の中心を正確に配置 */
}

.copy-btn-title {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6;
}

.copy-btn-text {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in-copy .description1 {
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.fade-out-copy .description1 {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@media screen and (min-width: 512px) {
  .footer-link-inner a {
    font-size: 14px;
    line-height: 1.9;
  }

  .share-nav h3 {
    margin: 0;
  }

  .share-nav-inner {
    gap: 1.5rem;
  }

  .footer-link-box a:hover {
    -webkit-text-decoration: underline 1px currentColor;
    text-decoration: underline 1px currentColor;
  }

  .share-menu-outer {
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: fit-content;
  }

  .share-nav-inner {
    flex-direction: row;
  }

  .share-menu-icon {
    width: 32px;
    height: 32px;
  }

  .share-nav {
    align-items: center;
  }

  .copy-btn:hover:not(.copy-btn-copied) {
    background-color: var(--hover);
  }

  .footer-link-box {
    margin: 1rem 0 0.85rem 0;
  }

  .description1 {
    position: absolute;
    width: 450px;
  }

  .description1:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.8);
    margin-left: -15px;
    cursor: auto;
  }

  .copy-btn-outer {
    position: relative;
  }

  .copy-btn-copied .description1 {
    top: auto;
    bottom: 53px;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 360px) {
  .footer-link-inner a {
    font-size: 11.5px;
  }

  .copy-btn-title {
    width: fit-content;
    font-size: 12px;
  }
}

@media screen and (min-width: 512px) {
  .footer-link-inner a {
    font-size: 14px;
    line-height: 1.9;
  }

  .footer-link-box a:hover {
    -webkit-text-decoration: underline 1px currentColor;
    text-decoration: underline 1px currentColor;
  }
}

@media screen and (max-width: 360px) {
  .footer-link-inner a {
    font-size: 11.5px;
  }
}
