:root {
  --refresh: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23b7b7b7' d='M256 0C179.9 0 111.7 33.4 64.9 86.2L0 21.3V192h170.7l-60.2-60.2C145.6 90.5 197.5 64 256 64c106 0 192 85.9 192 192s-86 192-192 192c-53 0-101-21.5-135.8-56.2L75 437c46.4 46.3 110.4 75 181 75 141.4 0 256-114.6 256-256S397.4 0 256 0zm-21.3 106.7v170.7h128v-42.7h-85.3v-128h-42.7z' /%3E%3C/svg%3E");
  --search: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 27' class='search-icon'%3E%3Cpath d='M11.56,3.43a8.26,8.26,0,0,0,0,16.52,8.18,8.18,0,0,0,5-1.72l4.7,4.7a1.1,1.1,0,0,0,1.56,0,1.09,1.09,0,0,0,0-1.55l0,0-4.7-4.7a8.18,8.18,0,0,0,1.72-5A8.28,8.28,0,0,0,11.56,3.43Zm0,2.2A6.06,6.06,0,1,1,5.5,11.69,6,6,0,0,1,11.56,5.63Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
  --link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='w-6 h-6' fill='%23b7b7b7' viewBox='0 0 20 20'%3E%3Cpath d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a%0A1 1 0 102 0V4a1 1 0 00-1-1h-5z'/%3E%3Cpath d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z'/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3C/svg%3E");
  --link-icon-brue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='w-6 h-6' fill='%2316c2c1' viewBox='0 0 20 20'%3E%3Cpath d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a%0A1 1 0 102 0V4a1 1 0 00-1-1h-5z'/%3E%3Cpath d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z'/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3C/svg%3E");
  --link-icon777: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='w-6 h-6' fill='%23b7b7b7' viewBox='0 0 20 20'%3E%3Cpath d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a%0A1 1 0 102 0V4a1 1 0 00-1-1h-5z'/%3E%3Cpath d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z'/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3C/svg%3E");
  --background: #fffffe;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
  --headline: #111;
  --width: 812px;
  --max-width: 812px;
  --font-family: -apple-system, system-ui, blinkmacsystemfont, Helvetica Neue,
    helvetica, Hiragino Sans, arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  transition: transform 1s;
  padding: 0;
  width: 100%;
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
}

body::before {
  width: 100%;
  max-width: var(--width);
  height: 48px;
  display: block;
  content: "";
}

.pad-side {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pad-side-top-ranking .top-ranking {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pad-side-top-ranking .recent-comment-list {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modify-top-padding .topic-tag {
  padding-top: 4px;
}

/* ヘッダー */
.body {
  max-width: var(--width);
  margin: 0 auto;
}

.site_header_outer {
  all: unset;
  position: fixed;
  display: block;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 100%;
  max-width: var(--max-width);
  transition: transform 0.3s;
  transform: translate(0px, 0px);
}

.site_header {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-between;
}

/* タイトルテキストエリア */
.header_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

/* オプチャタイトルコンテナ */
.title_container {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 14px;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.member {
  margin-right: 10px;
}

/* サイト名 */
.site_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
}

/* トップページタイトル */
.header_site_title {
  margin: auto -0.5rem;
  cursor: pointer;
  display: flex;
  height: 48px;
  gap: 4px;
  padding: 0 0.5rem;
  align-items: center;
  font-family: var(--font-family);
}

.header_site_title:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  height: 46px;
}

.header_site_title img {
  margin: auto;
  width: 18px;
  height: 18px;
  user-select: none;
  -webkit-user-select: none;
}

.header_site_title h1,
.header_site_title p {
  all: unset;
  margin: auto 0;
  white-space: nowrap;
  font-weight: bold;
  font-size: 15px;
  color: #111;
  line-height: 1.75;
  font-family: var(--font-family);
}

.header_site_title.thi h1,
.header_site_title.thi p {
  all: unset;
  margin: auto 0;
  white-space: pre;
  font-weight: bold;
  font-size: 13px;
  color: #111;
  line-height: 1.3;
  font-family: var(--font-family);
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: -8px;
  height: 48px;
  position: absolute;
  right: 1rem;
  width: fit-content;
}

/* カテゴリーボタン */
.category-button {
  margin: auto 50px auto auto;
  height: 38px;
  border: 1px solid #efefef;
  border-radius: 7px;
  display: flex;
  text-decoration: unset;
}

.category-button span {
  font-size: 14px;
  display: block;
  width: fit-content;
  margin: auto;
  line-height: 24px;
  color: #111;
  font-weight: bold;
  padding: 0 1rem;
  font-family: var(--font-family);
  text-wrap: nowrap;
}

/* 検索フォーム */
.header-button {
  all: unset;
  display: flex;
  height: 48px;
  width: 48px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.header-button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  z-index: 10;
}

.search-button-icon {
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: var(--search);
}

.search-form {
  display: none;
  height: 48px;
  padding-top: 2px;
}

.is-search-form-open .search-form {
  display: flex;
  position: absolute;
  top: 0;
  max-width: var(--width);
  left: 0;
  right: 0;
}

.search-form form {
  all: unset;
  z-index: 12;
  display: block;
  margin: auto;
  height: fit-content;
  border-radius: 7px;
  background: #f5f5f5;
  position: relative;
  padding: 0.3em 0.7em 0.3em 2.3em;
  width: 100%;
  border-radius: 99rem;
}

.search-form form:has(:focus) {
  outline: none;
}

.search-form input:focus {
  box-shadow: 0 0 0 0px;
}

.search-form label {
  position: absolute;
  left: 0.7rem;
  top: 6px;
  width: 19px;
  height: 19px;
  margin: 0;
  background-image: var(--search);
}

.search-form input {
  all: unset;
  width: 100%;
  line-height: 1.4;
  font-size: 1rem;
  outline: 0;
  resize: none;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  font-family: var(--font-family);
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.is-search-form-open .backdrop {
  display: flex;
}

.positive .openchat-item-stats {
  color: #4d73ff;
}

.negative .openchat-item-stats {
  color: #ff5d6d;
}

.line-link-icon {
  background-image: var(--link-icon-brue);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  line-height: 130%;
  margin: 0 1px;
}

.line-link-icon777 {
  background-image: var(--link-icon777);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  line-height: 130%;
  margin: 0 1px;
}

.copyright .line-link-icon777,
.app_link .line-link-icon777 {
  width: 12px;
  height: 12px;
}

/* チェックボックス */
.checkbox-label {
  all: unset;
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  color: #303030;
  font-size: 11px;
}

.checkbox-label input {
  all: unset;
  box-sizing: border-box;
}

.checkbox-label:has(:focus-visible) {
  outline: -webkit-focus-ring-color auto 1px;
}

.checkbox-label input[type="checkbox"] {
  transform: scale(0.75);
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 20px;
  /* 生成ボタンサイズ */
  min-width: 20px;
  /* 生成ボタンサイズ */
  vertical-align: -0.8rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 10%;
}

/* Checkbox */
.checkbox-label input[type="checkbox"]:before,
.checkbox-label input[type="checkbox"]:after {
  position: absolute;
  content: "";
  background: #fff;
}

.checkbox-label input[type="checkbox"]:before {
  left: 2px;
  top: 6px;
  width: 0;
  height: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.checkbox-label input[type="checkbox"]:after {
  right: 9px;
  bottom: 3px;
  width: 2px;
  height: 0;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}

.checkbox-label input[type="checkbox"]:checked:before {
  left: 1px;
  top: 10px;
  width: 6px;
  height: 2px;
}

.checkbox-label input[type="checkbox"]:checked:after {
  right: 5px;
  bottom: 1px;
  width: 2px;
  height: 14px;
}

.checkbox-label input[type="checkbox"]:indeterminate:before,
.checkbox-label input[type="checkbox"]:indeterminate:after {
  width: 7px;
  height: 2px;
  transform: rotate(0);
  -webkit-transform: rotate(0);
}

.checkbox-label input[type="checkbox"]:indeterminate:before {
  left: 1px;
  top: 7px;
}

.checkbox-label input[type="checkbox"]:indeterminate:after {
  right: 1px;
  bottom: 7px;
}

/* Colors */
.checkbox-label input[type="checkbox"] {
  border: 2px solid;
  border-image: linear-gradient(
    332deg,
    #0dc95a,
    #11d871 23.96%,
    #11d593 55.46%,
    #12cfcd 83.85%,
    #16c2c1
  );
  border-image-slice: 1;
  mask: linear-gradient(black, black);
}

.checkbox-label input[type="checkbox"]:checked,
.checkbox-label input[type="checkbox"]:indeterminate {
  background: linear-gradient(
    332deg,
    #0dc95a,
    #11d871 23.96%,
    #11d593 55.46%,
    #12cfcd 83.85%,
    #16c2c1
  );
}

.admin-check-label {
  margin: auto 0 auto 0.85rem;
  font-size: 12px;
  font-weight: 700;
}

.super-icon {
  width: 21px;
  height: 20px;
  background-size: 144px 101px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  scale: 0.9;
}

.super-icon.official {
  width: 20px;
  background-image: url(/../assets/line_svg_sprite.svg);
  background-position: -62px -76px;
}

.super-icon.sp {
  background-image: url(/../assets/line_svg_sprite.svg);
  background-position: -33px -76px;
}

.lock-icon {
  width: 13px;
  height: 13px;
  margin-top: 2px;
  margin-right: 2px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-image: url(/../assets/lock.svg);
}

@media screen and (min-width: 512px) {
  .site_header {
    justify-content: flex-start;
    padding-left: 35.17px;
  }

  .header-nav {
    position: relative;
    padding-top: 1px;
    padding-right: 0.5px;
  }

  .super-icon {
    scale: 1;
    margin-top: 0px;
  }

  .header-button {
    border-radius: 99rem;
  }

  .header-button:hover {
    background-color: var(--hover);
  }

  .header_site_title:focus-visible {
    height: 42px;
  }

  .is-search-form-open .site_header {
    display: flex;
  }

  .is-search-form-open .search-form {
    display: flex;
    position: absolute;
    left: auto;
    right: 1rem;
    width: 60%;
    padding: 0;
  }
}

.site_header .refresh-time {
  margin-left: 9px;
  display: flex;
  white-space: nowrap;
}

.site_header .refresh-icon {
  height: 11px;
  aspect-ratio: 1/1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23b7b7b7' d='M256 0C179.9 0 111.7 33.4 64.9 86.2L0 21.3V192h170.7l-60.2-60.2C145.6 90.5 197.5 64 256 64c106 0 192 85.9 192 192s-86 192-192 192c-53 0-101-21.5-135.8-56.2L75 437c46.4 46.3 110.4 75 181 75 141.4 0 256-114.6 256-256S397.4 0 256 0zm-21.3 106.7v170.7h128v-42.7h-85.3v-128h-42.7z' /%3E%3C/svg%3E");
  margin: auto 0;
}

.site_header .refresh-time time {
  margin: auto 0;
  margin-left: 2px;
  color: #b7b7b7;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  display: inline-block;
}
/* 
.grippy-host {
  display: none;
}

.right-side-rail-dismiss-btn {
  display: none;
}

.left-side-rail-dismiss-btn {
  display: none;
}
 */
.rectangle-ads {
  width: auto;
  aspect-ratio: 16/9;
}

.rectangle3-ads {
  width: auto;
  aspect-ratio: 1.2;
}

.rectangle4-ads {
  width: auto;
  aspect-ratio: 1;
}

.horizontal-ads {
  width: auto;
  height: 100px;
  max-height: 100px;
}

.rectangle-ads-parent,
.rectangle3-ads-parent,
.rectangle4-ads-parent,
.horizontal-ads-parent {
  box-sizing: border-box;
}

.responsive-google-parent {
  padding: 0;
  box-sizing: border-box;
}

.openchat-item-list .google-auto-placed {
  margin: 0 -1rem;
  width: 100vw !important;
  max-width: 812px;
}

@media screen and (min-width: 512px) {
  .rectangle3-ads,
  .rectangle4-ads,
  .rectangle-ads {
    height: 280px;
    width: auto;
    margin: auto;
    aspect-ratio: unset;
  }
}

.adsbygoogle {
  display: block;
  background: rgb(250, 250, 250);
}

/* ins.adsbygoogle[data-ad-status='unfilled'] {
  display: none !important;
}

ins.adsbygoogle[data-anchor-status='dismissed'] {
  display: none !important;
} */

.rectangle2-ads {
  width: auto;
  aspect-ratio: 16/9;
}

@media screen and (min-width: 512px) {
  .rectangle2-ads {
    height: 280px;
    width: 100%;
  }
}

.hr-top {
  all: unset;
  display: block;
  border-bottom: 1px solid #efefef;
  margin: 0 auto;
  margin-bottom: -4px;
  padding: 4.5px 0;
  width: calc(100% - 2rem);
}

.hr-bottom {
  all: unset;
  display: block;
  border-top: 1px solid #efefef;
  margin: 0 auto;
  margin-top: -4px;
  padding: 4.5px 0;
  width: calc(100% - 2rem);
}

.hr-bottom.tags-top {
  width: 100%;
  padding: 8px 0;
}
