main {
  color: #616161;
  max-width: 812px;
  margin: auto;
}

.footer-elem-outer {
  max-width: 812px;
  margin: auto;
}

.terms>section>p,
.terms>p {
  font-size: 16px;
  line-height: 1.9;
}

.terms>section>p>a,
.terms>p>a {
  color: inherit;
}

h1 {
  font-weight: 700;
  line-height: 1.5;
  padding: .5rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  color: #333;
  font-size: 21px;
}

.terms {
  font-family: var(--font-family);
  padding: 1rem;
  max-width: 812px;
  margin: auto;
}

.terms>h2 {
  padding-bottom: 0.3em;
  font-size: 21px;
  margin-top: 2.3em;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid var(--color-bg-secondary);
  font-weight: 700;
  line-height: 1.5;
  outline: 0;
  color: #333;
}

.terms section h3 {
  color: #333;
  margin-top: 2.5rem;
  font-size: 18px;
}

.terms>ol p {
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}

#comment-root .MuiPaper-outlined.MuiPaper-rounded {
  border: 1px solid rgb(207, 217, 222);
}

#comment-root .comment-term-text-color {
  color: #b7b7b7;
}

.terms .ranking-readMore {
  color: #333;
}

.terms .ranking-readMore::after {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  margin-bottom: 2px;
}

.terms img {
  display: block;
  width: 87.5%;
  margin: auto;
  margin-bottom: 2rem;
  box-shadow: 1px 3px 15px -5px #777;
  border-radius: 4px;
}
