main {
  border-bottom: solid 1px rgb(239, 243, 244);
  color: #616161;
}

main p {
  font-size: 14px;
  line-height: 1.9;
}

.main-nav-link {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  line-height: 1.5;
  padding: 2rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  color: #333;
}

.terms {
  font-family: var(--font-family);
}

.terms h2 {
  padding-bottom: 0.3em;
  font-size: 1em;
  margin-top: 2.3em;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid var(--color-bg-secondary);
  font-weight: 700;
  line-height: 1.5;
  outline: 0;
  color: #333;
}

.terms ol p {
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
