.site_header_outer {
    position: absolute;
}

main {
    display: flex;
    flex-direction: column;
}

form {
    margin: 2rem 0;
    font-size: 13px;
}

#file-input {
    width: 100%;
}

.talkroom_link_h1 {
    padding: 0;
    padding: 1rem 0;
}

table,
thead,
tr {
    width: 100%;
    max-width: 512px;
}

table td,
table th,
table tr {
    font-size: 13px;
    padding: 0.2rem 0.4rem;
}

table tr td:nth-child(3) {
    font-weight: bold;
    text-align: right;
}

table tr td:nth-child(4) {
    text-align: left;
    font-size: 11px;
}

.live-table {
    display: block;
    margin: 0 auto;
}

.table-user {
    width: inherit;
}

.chart-btn-nav {
    margin-bottom: 12px;
}

.hidden-graph .page-desc {
    display: block;
}

.page-desc,
.hidden-graph .graph-area {
    display: none;
}

.chart-canvas-section {
    aspect-ratio: 1.5 / 1;
}

@media screen and (min-width:512px) {
    .chart-canvas-section {
        aspect-ratio: 2 / 1;
    }
}